@import url('./variable.css');

.select-dropdown {
    z-index: 3;
    position: absolute;
    top: 65px;
    height: auto;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    max-height: 300px;
    overflow: scroll;
    border: 3px solid var(--pointColor);
}

.select-dropdown::-webkit-scrollbar {
    display: none;
}

.select-dropdown-option {
    z-index: 3;
    color: var(--fontColor);
    text-align:center;
    position: relative;
    display: block;
    list-style: none;
    padding: 5px;
    font-size: 15px;
}