@import url('./colorConst.css');

.loading-box {
    position: relative;
    z-index: 2;
    background-color: var(--backgroundColor);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-bar-mask {
    width: 150px;
    height: 30px;
    margin-right: auto;
    border-radius: 30px;
}

.loading-bar {
    height: 30px;
    background-color: var(--pointColor);
    border-radius: 30px;
}

.loading-bar-label {
    text-align: center;
    color: var(--pointColor);
    margin-top: 10px;
}