.timeline-labels {
    position: fixed;
    z-index: 5;
    background-color: #264364;
    border-bottom: 3px solid #5cffd1;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    height: 100px;
}

.timeline-labels > .label {
    color: #5cffd1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    min-width: 200px;
}