@import url('./colorConst.css');

.timeline-labels {
    position: fixed;
    z-index: 5;
    background-color: var(--backgroundColor);
    border-bottom: 3px solid var(--pointColor);
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    height: 100px;
}

.timeline-labels > .label {
    color: var(--pointColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    min-width: 200px;
}