@import url('./variable.css');

.timeline-labels {
    position: fixed;
    z-index: 5;
    /*background-color: var(--point2Color);*/
    background:
            linear-gradient(276deg, rgb(209, 202, 252), rgb(255 149 125));
    color: var(--backgroundColor);
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    height: 100px;
    font-weight: 1000;
    top: 100px;
}

.timeline-labels > .label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    font-size: 20px;
}