.main-bg{
    height: 500px;
    color: #000000;
    background-color: #264364;
    background-size: cover;
    background-position: center;
}

.row{
    color: rgb(0, 0, 0);
    background-color: #264364;
}

.wrap{
    color: rgb(255, 255, 255);
    height: 200px;
    background-color: #264364;
}

.p1{
    animation-duration: 3s;
    animation-name: slidein;
}

.p2{
    animation-duration: 3s;
    animation-name: slidein;
}

.memo{
    color: #f4e9c9;
    overflow:auto; 
    height:400px;
    flex: 1;
    
}


.wrapper {
    display: flex;
    align-items: center;
}

.memo {
    padding: 0 0.5em;
    max-width: 400px;
    height: 400px;
    overflow: auto;
}
.memo::-webkit-scrollbar {
    width: 10px;
}
.memo::-webkit-scrollbar-track {
    background-color: gray;
}
.memo::-webkit-scrollbar-thumb { 
    background-color: skyblue;
}
.memo::-webkit-scrollbar-button {
    display: none;
}



@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }

}
