@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.hispopnav{
    background-color: #ee8a38;
    height: 50px;
    display: flex;
    justify-content: left; 
    
}

.nav-link {
    color: #000000; 
    font-family: Galmuri14, sans-serif;
    padding: 5px 10px;
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    border: none; 
    transition: background-color 0.3s; 
}

.nav-link:hover {
    background-color: #ffffff; 
}

.historyPopMain{
    margin-bottom: 50px;
    color: #242424;
    background-color: rgb(24, 24, 24);
    background-size: cover;
    background-position: center;
}

.historyWiki{
    display: block;
    align-items: center;
    justify-content: center;
}

.historyPhoto{
    width: 90%; 
    margin: 0 auto; 
    margin-top: 50px;
    
    
}
.slick-dots {
    
    background-color: transparent;
}

.slick-dots li {
    
    margin: 0 4px;
    
}

.slick-dots li button {
    margin-top: 20px;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background-color: #fff;
    
}

.slick-dots li.slick-active button {
    background-color: #f87c56;
}

.historyPhotoSlide{
   
}
.historyImage{
    max-width: auto;
    height: auto;
    margin: 0 auto;
    display: contents;
    background-color: rgb(24, 24, 24);
}
.historyTitle{
    margin-top: 5%;
    margin-left: 3%;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif; 
}

.historyMemo {
    padding: 1 0.5em;
    max-width: auto;
    margin : 0 auto;
    height: auto;
    overflow: auto;
    margin-left:3%;
    margin-top: 2%;
    margin-right: 3%;
    line-height: 200%;
    font-size: 115%;
    color: #ffffff;
    font-family: Galmuri14, sans-serif; 
}

.historyMemo2::-webkit-scrollbar {
    width: 8px;
}

.historyMemo2::-webkit-scrollbar-track {
    background-color: gray;
}

.historyMemo2::-webkit-scrollbar-thumb { 
    background-color: #f87c56;
}

.historyMemo2::-webkit-scrollbar-button {
    display: none;
}

.historyMemo2{
    padding: 1 0.5em;
    max-width: auto;
    margin : 0 auto;
    height: 250px;
    overflow: auto;
    overflow-y: auto;
    margin-left:3%;
    margin-top: 1%;
    margin-right: 3%;
    line-height: 200%;
    font-size: 115%;
    color: #ffffff;
    font-family: Galmuri14, sans-serif; 
}
