@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

.moviePosterSlide {
    background-color: #000000;
    width: 90%; 
    margin: 0 auto; 
}

.moviePoster {
    text-align: center;
    color: #ffffff;
    font-family: 'Google Sans', sans-serif;
}

.moviePoster:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2); 
    -o-transform: scale(1.2);
    transition: transform 0.5s; 
}

.moviePosterFrame {
    border-radius: 20px; 
    margin: 0 auto;
}

.slick-prev {
    left: -30px; 
}

.slick-next {
    right: -30px; 
}

