@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

.movieContainer{
    background-color: rgb(24, 24, 24);  
}

.movieTitle{
    color: #f87c56;
    background-color: rgb(24, 24, 24);
    margin-left: 3%;
    margin-bottom: 4%;
    font-family: Galmuri14, sans-serif;
}
.moviePosterSlide {
    background-color: rgb(24, 24, 24);
    width: 90%; 
    margin: 0 auto; 
}

.moviePoster {
    
    text-align: center;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    
    
}

.moviePoster:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2); 
    -o-transform: scale(1.2);
    transition: transform 0.5s; 
    
    
    
}

.moviePosterFrame {
    border-radius: 20px; 
    margin: 0 auto;
}
.movieName{
    margin-top: 3%;
    
}



.slick-prev {
    left: -4%; 
}

.slick-next {
    right: -4%; 
}

