.movie-container {
background-color: #13161a; /* 시작 색상과 끝 색상 */
  /* 다른 스타일들 */
}

.movie-left {
  float: left; /* 요소를 왼쪽으로 정렬합니다. */
}
.movie-right {
  float: right; /* 요소를 오른쪽으로 정렬합니다. */
}
.video-title {
  color: white;
  margin-bottom: 40px;
}