@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
} 
span.thumb-up{
  margin-right: 10px;
}
span.thumb-up > img, span.thumb-down > img {
  transition: transform 0.3s ease-in-out; /* 부드러운 전환 효과 */
}

span.thumb-up:hover > img, span.thumb-down:hover > img {
  transform: scale(1.2); /* 마우스 호버 시 이미지 1.1배 확대 */
}
.custom-body {
  background-color: #13161a;
  color: white; /* text-white */
  font-family: sans-serif; /* font-sans */
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* p-5 px-9 (approximation) */
}

.brand {
  font-size: 1.875rem; /* text-3xl */
  font-weight: bold; /* font-bold */
}

.nav-link {
  padding: 0 12px; /* px-3 */
}

.description-section {
  position: relative;
}

.hero-image {
  background-color: #13161a;
  width: 100%; /* 이미지가 전체 너비를 차지하도록 설정 */
  height: 700px; /* 높이 설정 */
  object-fit: cover; /* 이미지가 태그 크기에 맞게 조절되도록 설정 */
  z-index: 1; /* z-index 값 설정 */
}

.content-section {
  padding: 40px; /* 내부 여백 설정 */
  position: absolute; /* 절대 위치 설정 */
  z-index: 2; /* hero-image 위에 표시되도록 z-index 값 설정 */
  bottom: 0; /* 부모 요소의 하단에서부터의 위치 */
  left: 0; /* 부모 요소의 좌측에서부터의 위치 */
  width: 100%; /* 너비를 부모 요소와 동일하게 설정 */ 
}

.title {
  font-size: 3.75rem; /* text-6xl */
  font-weight: bold; /* font-bold */
  margin-bottom: 16px; /* mb-4 */
}

.thumb-icon {
  /* Custom styles for icons */
}

.tags {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px; /* mb-4 */
}

.tag {
  background-color: #2d3748; /* bg-gray-700 */
  padding: 4px 12px; /* py-1 px-3 */
  border-radius: 9999px; /* rounded-full */
  margin-right: 8px; /* mr-2 */
  font-size: 0.875rem; /* text-sm */
}

.description {
  margin-bottom: 16px; /* mb-4 */
  max-width: 32rem; /* max-w-lg */
}

.cast,
.producers {
  font-size: 1.25rem; /* text-xl */
  font-weight: semibold; /* font-semibold */
  margin-bottom: 4px; /* mb-1 */
}
.thumb-icon {
  width: 20px; /* 이미지의 너비를 20px로 설정 */
  height: 20px; /* 이미지의 높이를 20px로 설정 */
}
