프.container {
  align-items: center;
  justify-content: space-between;
  padding: 0 28px; /* px-7 대응 */
}

.content {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 8px; /* mr-2 대응 */
  height: 50px;
  width: auto;
}
.text {
  margin-right: 20px; /* 버튼과의 간격 조정, 필요에 따라 조정 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
}
.button {
  background-color: #e53e3e;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 0.25rem;
}
.button-container {
  margin-left: auto; /* 오른쪽으로 요소를 밀어내는 역할 */
}
.text-button-container {
  display: flex;
  align-items: center; /* 텍스트와 버튼을 세로 중앙 정렬 */
  margin-left: auto; /* 이전 요소들과의 간격을 최대로 하여 오른쪽 정렬 효과 */
}
